{% extends "base.html" %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>About us</h1>
                We are a group of students on the CDT in Data Science Programme.
                The team consists of:
                <div class="container">
                {% for student in students %}
                <h3 class="col-md-3 pull-left">
                    {{ student }}
                </h3>
                {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
