<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">


    <link href="/static/css/bootstrap.css" rel="stylesheet" media="screen">
    <!-- Custom styles for this template -->
    <link href="/static/css/narrow.css" rel="stylesheet">
    <link href="/static/css/jquery-ui.css" rel="stylesheet">
    <link href="/static/css/jquery-ui.structure.css" rel="stylesheet">
    <link href="/static/css/jquery-ui.theme.css" rel="stylesheet">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/static/js/bootstrap.js"></script>
    <script src="/static/js/jquery-ui.js"></script>

    {% if title %}
        <title>{{ title }} - CitySentiment</title>
    {% else %}
        <title>CitySentiment</title>
    {% endif %}
</head>

<body>
<div class="container ">
    <div class="header">
        <nav>
            <ul class="nav nav-pills pull-right">
                {% if active_home %}
                    <li role="presentation" class="active">
                        {% else %}
                    <li role="presentation">
                {% endif %}
                <a href="/index">Home</a></li>
                {% if active_about_us %}
                    <li class="active">
                        {% else %}
                    <li>
                {% endif %}
                <a href="/about_us">About us</a></li>
            </ul>
        </nav>
        <h2 class="text-muted" href="#">CitySentiment</h2>

    </div>
</div>
{% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul>
            {% for message in messages %}
                <li> {{ message }} </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endwith %}
{% block content %}{% endblock %}

</body>
{% block scripts %}{% endblock %}

</html>
