{% extends "base.html" %}
{% block content %}
    <div class="container">
        <div class="row">
           <div class="col-md-12">
                <h1>Hi, {{ user.nickname }}!</h1>
                <div class="row">
                    {% for post in posts %}
                    <div class="col-md-4">
                      {{ post.author.nickname }} says: <b>{{ post.body }}</b>
                    </div>
                    {% endfor %}
                </div>
           </div>
        </div>
    </div>
{% endblock %}
